<% const page = typeof locals.page !== "undefined" ? locals.page : ""; %>

<ul class="menu-list">
  <li class="<%= page === 'dashboard' ? 'active' : '' %>">
    <a href="/dashboard"><i class="fa-solid fa-house"></i> Dashboard</a>
  </li>

  <!-- Rollingan -->
  <li class="submenu <%= (page === 'cashback' || page === 'noncashback') ? 'open' : '' %>">
    <a href="#" class="submenu-toggle">
      <i class="fa-solid fa-coins"></i> Rollingan
      <i class="fa-solid fa-chevron-down toggle-icon"></i>
    </a>
    <ul class="submenu-items">
      <li class="<%= page === 'cashback' ? 'active' : '' %>"><a href="/rollingan/cashback">Cashback</a></li>
      <li class="<%= page === 'noncashback' ? 'active' : '' %>"><a href="/rollingan/noncashback">Non Cashback</a></li>
    </ul>
  </li>

  <!-- Transaction -->
  <li class="submenu <%= (page === 'pivot' || page === 'transaction_referral') ? 'open' : '' %>">
    <a href="#" class="submenu-toggle">
      <i class="fa-solid fa-layer-group"></i> Transaction
      <i class="fa-solid fa-chevron-down toggle-icon"></i>
    </a>
    <ul class="submenu-items">
      <li class="<%= page === 'pivot' ? 'active' : '' %>"><a href="/transaction/pivot">Pivot</a></li>
      <li class="<%= page === 'transaction_referral' ? 'active' : '' %>"><a href="/transaction/referral">Referral</a></li>
    </ul>
  </li>

  <li class="<%= page === 'report' ? 'active' : '' %>">
    <a href="/report"><i class="fa-solid fa-chart-line"></i> Report</a>
  </li>
</ul>
